* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.image1 {
	width: 70%;
	height: 200px;
	background-image: url(img/box1.jpg);
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}
.image2 {
	width: 70%;
	height: 200px;
	background-image: url(img/box2.jpg);
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}
.image3 {
	width: 70%;
	height: 200px;
	background-image: url(img/box3.jpg);
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}
.image4 {
	width: 70%;
	height: 200px;
	background-image: url(img/box4.jpg);
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}